:root {
	--b-font-main: system-ui, sans-serif;
	--b-font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	--b-txt: #eceff4;
	--b-bg-1: #2e3440;
	--b-bg-2: #3b4252;
	--b-line: #3b4252;
	--b-link: #bf616a;
	--b-btn-bg: #242933;
	--b-btn-txt: #fff;
	--b-focus: #88c0d0;
}